* {
  box-sizing: border-box;
}


body {
  font-family: Times new roman;
  padding: 20px;
  background: #f0f0f1;
}


h1 {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

img{
    
  width: 400;
  height: 300;
}

.fakeimg {
  background-color: lightblue;
  width: 100%;
  padding: 20px;
}


.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}