@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans+Expanded&family=Open+Sans&display=swap');

/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

/* Variables */
:root {
    --black: #010606;
    --white: #f6f6f6;
    --lightgreen: #00ff95;
    --ronchi: #ebb650;
    --Aqua: #7ddeb6;
}

:root {
    --small: 0.75rem;
    --medium: 1rem;
    --large: 1.333rem;
    --header-main: 2.369rem;
    --header-sub: 1.777rem;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

/* Page Styles */

#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 3.125rem;
    margin-top: 3.125rem;
}

/* Hero Section About us */

.about-us-hero {
    height: 100vh;
    display: flex;
    gap: 3rem;
    margin-top: -4.375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-hero span {
    font-weight: bold;
    letter-spacing: .5rem;
}

.about-us-hero h1 span {
    background-color: var(--ronchi);
    color: var(--black);
    height: 2.7rem;
}

.about-us-hero h1{
    color: var(--black);
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    font-weight: 800;
}



/*the second part style */
.about-us-wrapper{
    background-color:black;
    color:white;
    max-width: 80rem;
}

#header{
    align-items: center;
    font-size: var(--header-main);
    font-family: serif;

}

.container-1{
    height: 100vh;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.paracontainer{
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 2rem;
    justify-content: center;
}


.paracontainer p{
    line-height: 1.5rem;
}

.sub-container-1{
    display: flex;
    padding:3rem;
    width:50%;
    justify-content: center;  
}

.image{
    width:auto;
    height: 300px;   
}

/*The third part container*/
.discription-container{
    display: flex;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top:2rem;
}

.services{
    padding: 1rem;
    margin-top:center;
}

.service-image{
    width: 15rem;
    height: 10rem;
    margin-bottom: 1rem;
    text-align: center;
}

.service-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-paragraph{
    height:50vh;
    display: flex;
    gap: 2rem;
    padding: 0 3.125rem;
    flex-direction: column;
    justify-content:center;
}

.paragraph-container{
    width: 50%;
}

.image-container{
    width: 20rem;
    height: 25rem;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*The middle part*/
.middle-section{
    height:50vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    display: flex;
    gap: 2rem;
}

/*the last section*/
.bottom-section{
    height:50vh;
    background-color: black;
    color:white;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    max-width: 80rem;
}