.footer {
    overflow: hidden;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1.5rem; 
    background-color: #e2e8f0;
}

.svg-container {
    height: 80px;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    margin-top: -5rem;
}

.svg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.polygon {
    fill: currentColor;
    color: #e2e8f0;
}

.contents-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.contents-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.info-wrapper {
    width: 100%;
    padding: 0 1rem;
}

.text {
    font-size: 1.875rem;
}

.platforms-container {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
}

.footer-button {
    align-items: center;
    width: 2.5rem;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.links-container {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0 1rem;
}

.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    align-items: flex-start;
}

.footer-link-block {
    width: 100%;
    padding: 0 1rem;
    margin-left: auto;
}
.footer-trademarks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-trademarks-wrapper {
    width: 100%;
    text-align: center;
}













@media (min-width: 640px) {
    .contents-container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .contents-container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .contents-container {
        max-width:1024px
    }

    .info-wrapper {
        width: 50%;
    }

    .links-container {
        width: 50%;
    }
    
    .footer-link-block {
        width: 33.333333%;
    }  
}
@media (min-width: 1280px) {
    .contents-container {
        max-width:1280px
    }
}