<!DOCTYPE html>
<html>
<head>
	<title>Sex Ed.
</title>
</head>
<body style="display: flex; align-items: center; flex-direction: column;">
	<nav class="nav-container">
		<div class="nav-wrapper">
			<div class="logo-container">
				<a href="../../index.html" class="logo">
					Voice of the Youth
				</a>

				<!-- Mobile view Bars Button -->
				<button class="bars"
						type="button">
						<i class="fas fa-bars"></i>
				</button>
	  		</div>

			<ul class="nav-link-wrapper">
				<li><a href="./contact-us.html">Contact Us</a></li>
			</ul>
		</div>		
	</nav>

<div style="margin: 8rem 0;">

<h1>Why sexual education is important</h1>
<table width="80%">
	<tr>
		<td>
			<img src="sexed.jpeg" width="400" height="300"></img>
		</td>
<td>
	<figure>"When a child reaches puberty, parents become so curious about their sex lives and whereabouts, put them behind bars to their own detriment. When such a child breaks free, don't be surprised to see him/her in porn movies.</figure>
	<figcaption style="margin: 40px;">Michael Bassey Johnson</figcaption>
</td>
</table>
<article style="width: 80%;">
Adolescents in our country are growing up in a world where circumstances are quite different now ,concerning the benefits and risks in life, from those of their parents or grandparents. They need proper support not only to navigate the biological, social and cognitive transitions of their life but also to prevent cases of sexual harassment and abuse which are now increasing at an alarming rate.<br>

Sex education is an essential tool to help them learn about a broad range of topics related to biological, psychological and sociocultural perspectives of individual beings as well as a key intervention to prevent and reduce sexual harassment, assault and abuse. It just needs to be delivered in an age-appropriate and engaging way based on science and facts.<br>
However, this important subject is still taboo in our conservative society due to some misconceptions or lack of appropriate knowledge about sex ed. Here are some misconceptions that need to be addressed:<br>
<h3>It encourages sex</h3>
Critics suggest sex ed will encourage children to have sex, yet research suggests the opposite is true. A study by the Guttmacher Institute found that "there is now clear evidence that sexuality education programmes can help young people to delay sexual activity."  A UNESCO report found children who are taught CSE tend to have less sex, fewer sexual partners and reduced sexual risk-taking.<br>
<h3>It normalizes teenage sex</h3>
Societies in some countries take the opposite strategy. They talk about sex as a normal and healthy act, opening the door to frank education so children dont need to find things out themselves the hard way. It is these countries that typically have the lowest teenage pregnancy rates. Switzerland, for instance, has just 3 teen births per thousand.<br>
<h3>It imposes foreign culture</h3>
In conversations about Sex ed, some critics have raised fears that it will lead to behaviours that they deem to be foreign and unwelcome in societies. Putting aside the value of that argument, one of the principles of sex ed is that it is culturally appropriate. For instance, Ethiopia could rebranded Sex ed. as "family life education" to make it more acceptable.<br>
Making sex ed culturally appropriate is also not just about leaving some things out, but also about making sure certain topics are included. In Ethiopia, topics like early marriage, FGM and male shame around sexual abuse needs to be included.<br>
<h3>It is not meant for childrens ear</h3>
Studies suggest that parents who are most hesitant to let their children hear the truth about sex, have children who are the most at risk of becoming victims of abuse, or unintentionally causing, or having, an unwanted pregnancy. Sex ed. sensitises kids to their body parts and teaches them what is appropriate and not. It prepares them to recognise potential abuse by adults.<br>
Besides, sex education is not just about sex. A five-year-old may be wondering, "Why does he have a penis and I dont?" A 12-year-old: "Why am I bleeding and she is not?" A 15-year-old: "Why do I get butterflies in my stomach when I see so-and-so? sex ed. is tailored to their different concerns at different ages.  
<h3>It goes aganist religious values</h3>
Some people argue that sex before marriage is a sin, so the only thing children should be taught about sex is abstinence. Studies in some countries, however, suggest that abstinence-only programmes do not reduce teenage pregnancies. Moreover, they leave children uninformed about the risks of sex and sexually transmitted infections.<br>
Sex ed. does, in fact, teach abstinence. But it also covers the "what if". It recognises that premarital sex happens. In Ethiopia, for instance, a good amount of teenagers are sexually active before turning 18, the local age of consent. Rather than seeing sex ed. as inherently anti-religious, conservative voices can be brought into the planning process.

<h2>Advantages of sex ed.</h2>
<h3>In early years</h3>
<li>Body positive</li>
<li>Healthy gender identity</li>
<li>Diversity friendly</li>
<li>Better parent/child communication</li>
<li>Recognise boundaries</li>
<li>Accepting of physical change</li>
<li>Recognise and discloses sexual abuse</li>
<h3>In teenage years</h3>
<li>Make smart sexual decisions</li>
<li>Delay sexual activity </li>
<li>No unwanted pregnancy</li>
<li>No STD/STIs</li>

</article>

</div>


<footer class="footer">
	<div class="svg-container">
		<svg class="svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1"
			viewBox="0 0 2560 100" x="0" y="0">
			<polygon class="polygon" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>

	<div class="contents-container">
		<div class="contents-wrapper">
			<div class="info-wrapper">
				<h3 class="text">
					Let's keep in touch!
				</h3>

				<h5>+251 911 002352</h5>
				<h4 class="platforms-text">
					Find us on any of these platforms.
				</h4>

				<div class="platforms-container">

					<!-- The i tags in the anchor tag are font awesome icons tag -->

					<button class="footer-button" type="button">
						<a href="#" rel="noreferrer" target="_blank">
							<i class="footer-icon fa-brands fa-twitter"></i>
						</a>
					</button>
					<button class="footer-button" type="button">
						<a href="#" rel="noreferrer" target="_blank">
							<i class="footer-icon fa-brands fa-facebook"></i>
						</a>
					</button>
					<button class="footer-button" type="button">
						<a href="#" rel="noreferrer" target="_blank">
							<i class="footer-icon fa-brands fa-instagram"></i>
						</a>
					</button>
				</div>
			</div>
			<div class="links-container">
				<div class="links-wrapper">

					<div class="footer-link-block">
						<span class="block uppercase text-gray-600 text-sm font-semibold mb-2">
							Useful Links
						</span>
						<ul class="list-unstyled">
							<li>
								<a class="footer-link-text" href="../../index.html">Home
								</a>
							</li>
							<li>
								<a class="footer-link-text" href="">Writers
								</a>
							</li>
							<li>
								<a class="footer-link-text" href="">Blog
								</a>
							</li>

						</ul>
					</div>

					<div class="w-full lg:w-4/12 px-4">
						<span class="block uppercase text-gray-600 text-sm font-semibold mb-2">
							Our Company
						</span>
						<ul class="list-unstyled">
							<li>
								<a class="footer-link-text" href="./contact-us.html">Contact Us</a>
							</li>
							<li>
								<a class="footer-link-text" href="#">Terms & Conditions</a>
							</li>
							<li>
								<a class="footer-link-text" href="#">Privacy Policy</a>
							</li>
							<li>
								<a class="footer-link-text" href="./aboutus.html">About Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<hr />
		<br />

		<div class="footer-trademarks">
			<div class="footer-trademarks-wrapper">
				<div class="text-sm text-gray-600 font-semibold py-1">
					Copyright &copy 2021 Voice of Youth by
					<a href="www.github.com/Voice-Of-Youth" class="footer-link-text">
						Voice of Youth
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
