<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us | Voice of Youth</title>
</head>
<body>
    <header>
        <nav>
          <div>
            <div>
              <a href="../../index.html">Voice of the Youth</a>
              <a href="./resources//view/articles.html">Articles</a>
              <!-- This Button will appear when it minimizes to smaller device width's -->
              <button hidden 
                  type="button">
                  <img src="./resources/assets/images/bars.png" alt="Three bars">
              </button>
  
            </div>
            <div>
              <ul>
                <li><button><img src="./search.png" alt="search"></button></li>
                <li><button><img src="./notification.png" alt="notification icon"></button></li>
                <li><a href="./resources/view/sign-up.html">Sign Up</a></li>
              </ul>
            </div>
          </div>    
        </nav>
      </header>

      <hr>

    <div>
        <div>
            <div>
                <div>
                    <h3>Let's Get in touch</h3>
                    <p>Want to get in touch? I would love to hear from you. you can contact me through the information provided or send me an Email through the form.</p>
                    <div>
                        <div>
                           <img src="../assets/images/envelop.png" alt="envelop image">
                            <p>contact.nathnael.mekonnen@gmail.com</p>
                        </div>
                        <div>
                            <img src="../assets/images/phone.png" alt="phone logo">
                            <p>+251 93-161-2090</p>
                        </div>
                        <div>
                            <img src="../assets/images/location.png" alt="Location image">
                            <p>Gelan Condominium, Akaki Kality, A.A</p>
                        </div>
                    </div>
                    <div>
                        <p>My Social Media: </p>
                        <div>
                            <a href="//www.facebook.com">
                                <img src="../assets/images/facebook.png" alt="Facebook Logo">
                            </a>
                            <a href="//www.twitter.com">
                                <img src="../assets/images/twitter.png" alt="twitter Logo">
                            </a>
                            <a href="//www.instagram.com">
                                <img src="../assets/images/instagram.png" alt="instagram Logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <form action="index.html">
                        <h3>Contact Me</h3>
                        <div>
                            <input type="text" name="fullname">
                            <label for="">Full Name</label>
                        </div>
                        <div>
                            <input type="email" name="email">
                            <label for="">Email</label>
                        </div>
                        <div>
                            <input type="tel" name="phone">
                            <label for="">Phone</label>
                        </div>
                        <div>
                            <textarea name="message"></textarea>
                            <label for="">Message</label>
                        </div>

                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <footer>
        <div>
          <div>
            <h4>
              Let's keep in touch!
            </h4>
            <h6 >
              Cameroon St, Morning Star Mall, Addis Ababa.
            </h6>
            <h6>+251 911 002352</h6>
            <h5>Find us on any of these platforms.</h5>
            
            <div>
              <button type='button'>                
                <a href='https://twitter.com' rel='noreferrer' target='_blank'>          
                  <img src="twitter.png">
                </a>
              </button>
              <button type='button'>
                <a href='https://www.facebook.com' rel='noreferrer' target='_blank'>          
                  <img src="facebook.png" >
                </a>
              </button>
              <button type='button'>
                <a href='https://www.instagram.com' rel='noreferrer' target='_blank'>         
                  <img src="instagram.png">
                </a>
              </button>
            </div>
          </div>
  
          <div>
            <span>Our Company</span>
            <ul>
               <li>
                <a href='./about.html'>About Us</a>
              </li>
              <li>
                <a href='./contact-us.html'>Contact Us</a>
              </li>
              <li>
                <a href='./terms-conditions.html'>Terms & Conditions</a>
              </li>
              <li>
                <a href='./privacy.html'>Privacy Policy</a>
              </li>
            </ul>
          </div>
  
          <div>
            <hr>
            <div>
              <div>
                <div align="center">
                  Voice Of Youth by 
                  <a href='./group.html'>Group Three</a>.
                </div>
              </div>
            </div>
          </div>
        </div> 
      </footer>

</body>
</html>