<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/nav.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <nav class="nav-container">
		<div class="nav-wrapper">
			<div class="logo-container">
				<a href="index.html" class="logo">
					Voice of the Youth
				</a>

				<!-- Mobile view Bars Button -->
				<button class="bars"
						type="button">
						<i class="fas fa-bars"></i>
				</button>
	  		</div>

			<ul class="nav-link-wrapper">
				<li><a href="contact-us.html">Contact Us</a></li>
				<li><a href="auth.html">Sign UP</a></li>
			</ul>
		</div>		
	</nav>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ.html</title>
    <link rel="stylesheet" type="text/css" href="../styles/FAQ.css">
</head>
<body >
    <center>
    <table>
        <tr>
            <img src="../../resources/images/faq.png" width="570px" height="257px" > 
        </tr>
    </table>
    </center>
<div class= "Box">
    <p class="heading">FAQs</p>
    <div class="faqs">
        <details>
            <summary>What does VoY stand for?</summary>
            <p class="text"> VoY stands for Voice of Youth</p>
        </details>
        <details>
            <summary>Can i write explicit contents?  </summary>
            <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </details>
        <details>
            <summary>How does your filtering system work?</summary>
            <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </details>

    </div>

</div>
<div style="height: 100vh;"></div>

	<footer class="footer">
		<div class="svg-container">
		  <svg class="svg"
			xmlns="http://www.w3.org/2000/svg"
			preserveAspectRatio="none"
			version="1.1"
			viewBox="0 0 2560 100"
			x="0"
			y="0"
		  >
			<polygon
			  class="polygon"
			  points="2560 0 2560 100 0 100"
			></polygon>
		  </svg>
		</div>

		<div class="contents-container">
		  <div class="contents-wrapper">
			<div class="info-wrapper">
			  <h3 class="text">
				Let's keep in touch!
			  </h3>

			  <h5>+251 911 002352</h5>
			  <h4 class="platforms-text">
				Find us on any of these platforms.
			  </h4>
			  
			  <div class="platforms-container">

				<!-- The i tags in the anchor tag are font awesome icons tag -->

				<button class="footer-button" type="button">                
				  <a href="#" rel="noreferrer" target="_blank">					
					<i class="footer-icon fa-brands fa-twitter"></i>
				  </a>
				</button>
				<button class="footer-button" type="button">                
				  <a href="#" rel="noreferrer" target="_blank">					
					<i class="footer-icon fa-brands fa-facebook"></i>
				  </a>
				</button>
				<button class="footer-button" type="button">                
				  <a href="#" rel="noreferrer" target="_blank">					
					<i class="footer-icon fa-brands fa-instagram"></i>				  
				  </a>
				</button>
			  </div>
			</div>
			<div class="links-container">
			  <div class="links-wrapper">
  
				<div class="footer-link-block">
				  <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">
					Useful Links
				  </span>
				  <ul class="list-unstyled">
					<li>
					  <a class="footer-link-text"
						  href="../../index.html">Home
					  </a>
					</li>
					<li>
					  <a class="footer-link-text"
						  href="">Writers
					  </a>
					</li>
					<li>
					  <a class="footer-link-text"
						  href="">Blog
					  </a>
					</li>
					<li>
						<a class="footer-link-text"
							href="../voy/src/view/FAQ.html">FAQs
						</a>
					  </li>
  
				  </ul>
				</div>
  
				<div class="w-full lg:w-4/12 px-4">
				  <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">
					Our Company
				  </span>
				  <ul class="list-unstyled">
					<li>
						<a class="footer-link-text" href="contact-us.html">Contact Us</a>
					</li>
					<li>
					  <a class="footer-link-text" href="#">Terms & Conditions</a>
					</li>
					<li>
					  <a class="footer-link-text" href="#">Privacy Policy</a>
					</li>
					<li>
						<a class="footer-link-text" href="#">About Us</a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>

		  <hr/>
		  <br/>

		  <div class="footer-trademarks">
			<div class="footer-trademarks-wrapper">
			  <div class="text-sm text-gray-600 font-semibold py-1">
				Copyright &copy 2021 Voice of Youth by 
				<a
				  href="www.github.com/Voice-Of-Youth"
				  class="footer-link-text"
				>
				  Voice of Youth
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </footer> 
</body>
</html>