<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers</title>
</head>
<body>
    <table width="100%">
        <tr>

            <td width="100"></td>
                
            <td width ="80%">
                    <a href="index.html">Voice-Of-Youth</a>
            </td>

            <td width="100%" align="right">
                 <a href="> Our Story |</a>
                 <a href="">Membership |</a>
                 <a href="">Write |</a>
                 <a href="">Sign in </a>
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
             <h1>Publish, grow and learn, All in one place</h1>
        </tr>
        <tr>
            <img src="../../resources/images/read.png">
        </tr>
        <tr>
            <a href=""><button>Start Writing</button></a> 
        </tr>
    </table>
    
</body>
</html>