<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/contact-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Contact us | Voice of Youth</title>
</head>
<body>

    <!-- Header Section -->
    <header>
      <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="link" id="navbar-logo">VOY</a>
            
            <div class="navbar-hamburger" id="mobile-bar-icon">
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
            </div>
            
            <ul class="navbar-menu menu">
                <li class="navbar-menu-item">
                    <a href="#" class="navbar-link link">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Search</span>
                    </a>
                </li>
                <li class="navbar-menu-item">
                    <a href="#" class="navbar-link link">
                        <i class="fa-solid fa-bookmark"></i>
                        <span>Favorites</span>
                    </a>
                </li>
                <li class="navbar-menu-item navbar-btn">
                    <a href="#" class="btn-link link">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
      </nav>   
    </header>


    <!-- Form Section -->

    <section class="form-content-container">
        <div class="form-container">
            <div class="form-wrapper">
                <div class="form-left-info">
                    <h3>Let's Get in touch</h3>
                    <p>Want to get in touch? I would love to hear from you. you can contact me through the information provided or send me an Email through the form.</p>
                    <div>
                        <div class="flexed">
                          <i class="fa-solid fa-envelope"></i>
                            <p>voice-of-youth@gmail.com</p>
                        </div>
                        <div class="flexed">
                          <i class="fa-solid fa-phone"></i>
                            <p>+251 90-000-0000</p>
                        </div>
                        <div class="flexed">
                          <i class="fa-solid fa-location-dot"></i>
                            <p>Bisrate Gebriel infront of some building</p>
                        </div>
                    </div>
                    <div>
                        <p>My Social Media: </p>
                        <div class="form-links-wrapper">
                            <a href="//www.facebook.com">
                              <i class="form-link-icons fa-brands fa-facebook"></i>
                            </a>
                            <a href="//www.twitter.com">
                              <i class="form-link-icons fa-brands fa-twitter"></i>
                            </a>
                            <a href="//www.instagram.com">
                              <i class="form-link-icons fa-brands fa-instagram"></i>				  
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-right-inputs">
                    <form action="main.js">
                        <h3>Contact Me</h3>
                        <div>
                            <input id="full-name" type="text" name="fullname">
                            <label for="full-name">Full Name</label>
                        </div>
                        <div>
                            <input id="email" type="email" name="email">
                            <label for="email">Email</label>
                        </div>
                        <div>
                            <input id="phone" type="tel" name="phone">
                            <label for="phone">Phone</label>
                        </div>
                        <div>
                            <textarea id="message" name="message"></textarea>
                            <label for="message">Message</label>
                        </div>

                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer Section -->
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-links">
              <div class="footer-link-wrapper">
                  <div class="footer-link-items">
                      <h2 class="footer-title">About us</h2>
                      <a href="#" class="link footer-link">How it Works</a>
                      <a href="#" class="link footer-link">Testimonials</a>
                      <a href="#" class="link footer-link">Terms and Services</a>
                      <a href="#" class="link footer-link">Privacy Policy</a>
                  </div>
                  <div class="footer-link-items">
                      <h2 class="footer-title">About us</h2>
                      <a href="#" class="link footer-link">How it Works</a>
                      <a href="#" class="link footer-link">Testimonials</a>
                      <a href="#" class="link footer-link">Terms and Services</a>
                      <a href="#" class="link footer-link">Privacy Policy</a>
                  </div>
              </div>
              <div class="footer-link-wrapper">
                  <div class="footer-link-items">
                      <h2 class="footer-title">About us</h2>
                      <a href="#" class="link footer-link">How it Works</a>
                      <a href="#" class="link footer-link">Testimonials</a>
                      <a href="#" class="link footer-link">Terms and Services</a>
                      <a href="#" class="link footer-link">Privacy Policy</a>
                  </div>
                  <div class="footer-link-items">
                      <h2 class="footer-title">About us</h2>
                      <a href="#" class="link footer-link">How it Works</a>
                      <a href="#" class="link footer-link">Testimonials</a>
                      <a href="#" class="link footer-link">Terms and Services</a>
                      <a href="#" class="link footer-link">Privacy Policy</a>
                  </div>
              </div>
          </div>
          <section class="social-media">
              <div class="social-media-wrap">
                  <div class="footer-logo">
                      <a href="/" class="link" id="footer-logo">VOY</a>
                  </div>
                  <p class="website-rights">&copy; Voice of Youth 2022. All rights reserved</p>
                  <div class="social-icons">
                      <a href="#" class="social-icon-link link" target="_blank">
                          <i class="fa-brands brand fa-facebook"></i>
                      </a>

                      <a href="#" class="social-icon-link link" target="_blank">
                          <i class="fa-brands brand fa-instagram"></i>
                      </a>

                      <a href="#" class="social-icon-link link" target="_blank">
                          <i class="fa-brands brand fa-twitter"></i>
                      </a>
                      
                      <a href="#" class="social-icon-link link" target="_blank">
                          <i class="fa-brands brand fa-telegram"></i>
                      </a>
                  </div>
              </div>
          </section>
      </div>
    </footer>
</body>
</html>