<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/nav.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ.html</title>
    <link rel="stylesheet" type="text/css" href="../styles/FAQ.css">
</head>
<body >
	<nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="link" id="navbar-logo">VOY</a>
            
            <div class="navbar-hamburger" id="mobile-bar-icon">
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
            </div>
            
            <ul class="navbar-menu menu">
                <li class="navbar-menu-item">
                    <a href="#" class="navbar-link link">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Search</span>
                    </a>
                </li>
                <li class="navbar-menu-item">
                    <a href="#" class="navbar-link link">
                        <i class="fa-solid fa-bookmark"></i>
                        <span>Favorites</span>
                    </a>
                </li>
                <li class="navbar-menu-item navbar-btn">
                    <a href="#" class="btn-link link">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
	<div style=" display: flex; flex-direction: column; align-items: center;">
	<div style="width: 60%;" >
		<center>
			<table>
				<tr>
					<img src="../../resources/images/faq_2.svg" width="70%" height="50%" > 
				</tr>
			</table>
		</center>

		<div class= "Box">
			<p class="heading">FAQs</p>
			<div class="faqs">
				<details>
					<summary>What does VoY stand for?</summary>
					<p class="text"> VoY stands for Voice of Youth</p>
				</details>
				<details>
					<summary>Can i add explicit contents?  </summary>
					<p class="text"> </p>
				</details>
				<details>
					<summary>How does your filtering system work?</summary>
					<p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</details>
			</div>
		</div>
	</div>
	</div>

	<footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <div class="footer-link-wrapper">
                    <div class="footer-link-items">
                        <h2 class="footer-title">About us</h2>
                        <a href="#" class="link footer-link">How it Works</a>
                        <a href="#" class="link footer-link">Testimonials</a>
                        <a href="#" class="link footer-link">Terms and Services</a>
                        <a href="#" class="link footer-link">Privacy Policy</a>
                    </div>
                    <div class="footer-link-items">
                        <h2 class="footer-title">About us</h2>
                        <a href="#" class="link footer-link">How it Works</a>
                        <a href="#" class="link footer-link">Testimonials</a>
                        <a href="#" class="link footer-link">Terms and Services</a>
                        <a href="#" class="link footer-link">Privacy Policy</a>
                    </div>
                </div>
                <div class="footer-link-wrapper">
                    <div class="footer-link-items">
                        <h2 class="footer-title">About us</h2>
                        <a href="#" class="link footer-link">How it Works</a>
                        <a href="#" class="link footer-link">Testimonials</a>
                        <a href="#" class="link footer-link">Terms and Services</a>
                        <a href="#" class="link footer-link">Privacy Policy</a>
                    </div>
                    <div class="footer-link-items">
                        <h2 class="footer-title">About us</h2>
                        <a href="#" class="link footer-link">How it Works</a>
                        <a href="#" class="link footer-link">Testimonials</a>
                        <a href="#" class="link footer-link">Terms and Services</a>
                        <a href="#" class="link footer-link">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <section class="social-media">
                <div class="social-media-wrap">
                    <div class="footer-logo">
                        <a href="/" class="link" id="footer-logo">VOY</a>
                    </div>
                    <p class="website-rights">&copy; Voice of Youth 2022. All rights reserved</p>
                    <div class="social-icons">
                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-facebook"></i>
                        </a>

                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-instagram"></i>
                        </a>

                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-twitter"></i>
                        </a>
                        
                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </footer> 
</body>
</html>