<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions | VOY</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/FAQ.css">
</head>
<body >
    <!-- Header Section -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/index.html" class="link" id="navbar-logo">VOY</a>
            
            <div class="navbar-hamburger" id="mobile-bar-icon">
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
            </div>
            
            <ul class="navbar-menu menu">
                <li class="search-menu-item">
                    <div class="navbar-link link search-styling">
                        <div id="search" class="search-bar">
                            <input type="text" class="search-text" placeholder="Search...">
                            <button class="search-submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <div class="search-dropdown" id="hits-container"></div>
                        </div>
                        <span id="search-placeholder">Search</span>
                    </div>
                </li>
                <li class="navbar-menu-item">
                    <a href="#" class="navbar-link link">
                        <i class="fa-solid fa-bookmark"></i>
                        <span>Favorites</span>
                    </a>
                </li>
                <li id="nav-button-dynamic" class="navbar-menu-item navbar-btn">
                </li>
            </ul>
        </div>
    </nav>
    
    <section id="faq-container">
        <h2 class="title">FAQs</h2>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <div class="footer-link-wrapper">
                    <div class="footer-link-items">
                        <h2 class="footer-title">Help</h2>
                        <a href="./src/views/FAQ.html" class="link footer-link">FAQ's</a>
                        <a href="" class="link footer-link">Report</a>
                    </div>
                    <div class="footer-link-items">
                        <h2 class="footer-title">About us</h2>
                        <a href="#" class="link footer-link">Blogs</a>
                        <a href="#" class="link footer-link">Testimonials</a>
                        <a href="./src/views/aboutus.html" class="link footer-link">About Us</a>
                        
                    </div>
                </div>
                <div class="footer-link-wrapper">
                    <div class="footer-link-items">
                        <h2 class="footer-title">Careers</h2>
                        <a href="./src/views/writers.html" class="link footer-link">Writers</a>
                        <a href="#" class="link footer-link">How it works</a>
                        <a href="./src/views/contactus.html" class="link footer-link">Contact Us</a>
                    </div>
                    <div class="footer-link-items">
                        <h2 class="footer-title">Legal</h2>
                        <a href="#" class="link footer-link">Terms</a>
                        <a href="#" class="link footer-link">Services</a>
                        <a href="#" class="link footer-link">Privacy</a>
                    </div>
                </div>
            </div>
            <section class="social-media">
                <div class="social-media-wrap">
                    <div class="footer-logo">
                        <a href="/index.html" class="link" id="footer-logo">VOY</a>
                    </div>
                    <p class="website-rights">&copy; Voice of Youth <script>document.write(new Date().getFullYear())</script>. All rights reserved</p>
                    <div class="social-icons">
                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-facebook"></i>
                        </a>

                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-instagram"></i>
                        </a>

                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-twitter"></i>
                        </a>
                        
                        <a href="#" class="social-icon-link link" target="_blank">
                            <i class="fa-brands brand fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </footer>

    <script src="../js/data/data.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/FAQ.js"></script>
</body>
</html>